<!doctype html>
<html>
  <head>
    <title>SNS-Twilio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"  media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}" rel="stylesheet"  media="screen">
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('subscriptions') }}">SNS-Twilio</a>
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('subscriptions') }}">Subscriptions</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" style="margin-top: -20px;">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div style="margin-bottom: -20px;"></div>

    {% block body %}
    {% endblock %}
  </body>
</html>
