{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h2 >{{ subscription.alias }}</h2>
  <div style="margin-bottom: 40px;">
    <p class="pull-left text-muted">{{ subscription.arn }}</p>
    <div class="pull-right">
      {% if subscription.status == 0 %}
        <a href="{{ url_for('subscribe', subscription_arn=subscription.arn) }}"> Confirm subscription</a>
        <span class="label label-warning">Not subscribed</span>
      {% elif subscription.status == 1 %}
        <a href="{{ url_for('unsubscribe', subscription_arn=subscription.arn) }}"> Unsubscribe</a>
        <span class="label label-success">Subscribed</span>
      {% elif subscription.status == 2 %}
        <span class="label label-info">Unsubscription requested</span>
      {% elif subscription.status == 3 %}
        <span class="label label-default">Unsubscribed</span>
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6 col-sm-6 col-lg-6">
      <h3>Message Feed</h3>
      {% if subscription.notifications.all() %}
        {% for notification in subscription.notifications|sort(attribute='timestamp', reverse=True) %}
          <h4>{{ notification.subject }}</h4>
          <p style="word-wrap: break-word;">{{ notification.message }}</p>
          <small>{{ notification.timestamp.strftime('%m/%d/%Y %H:%M:%S UTC') }}</small>
        {% endfor %}
      {% else %}
        <p>No messages in this subscription!</p>
      {% endif %}
    </div>

    <div class="col-6 col-sm-6 col-lg-6">
      <h3>Users</h3>

        {% if subscription.users.all() %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Telephone</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for user in subscription.users %}
                <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.telephone }}</td>
                  <td>
                    <form action="{{ url_for('delete_user', subscription_arn=subscription.arn, user_id=user.id) }}" method="POST">
                      <button type="submit" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove" style="position: relative; top: 2px;">
                        </span> Delete
                      </button>
                      <!-- <input type="submit" value="Delete entry 10" /> -->
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No users subscribed to this subscription</p>
        {% endif %}

      <h3>Add User</h3>

      <form method="POST" action="{{ url_for('add_user', subscription_arn=subscription.arn) }}">
        <fieldset>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="telephone">Mobile phone number</label>
            <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Enter mobile number">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
      </form>
    </div>

  </div>
</div>
{% endblock %}
